{# A basic Hello World program.
   The @out variable represents the output of the SQLVM program.
   It must be a string.
   Here we just assign "Hello World!" to it. #}
{% sqlvm %}
@out := "Hello World!"
{% endsqlvm %}
